html {
    font-family: "Albert Sans", serif;
}



body {
    background-image: url("ressources/mall.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

/* header */

header div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    z-index: 1;
    font-size: 10px;
}

header #menu {
    position: relative;
    gap: 0.5em;
    font-size: 0.2em;
}

header img {
    padding-bottom: 2em;
}

header .logo {
    margin-left: 1em;
    margin-right: 0.5em;
    width: 15%;
    height: auto;
    object-fit: contain;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 10%;
    padding: 2em;
    margin-left: 3em;
    margin-bottom: 2em;
}

header #horaire {
    background-color: #F4E500;
    border-radius: 1em;
    padding: 1em 3.5em;
    margin-bottom: 5em;
    margin-left: 3em;
}

header #loupe {
    width: 4em;
    height: auto;
    padding-left: 0.5em;
    margin-bottom: 1.6em;

}

header #ouvertureExceptionnelle {
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
    font-size: 0.5em;
}

header div::before {
    content: '';
    position: absolute;
    left: -25%;
    width: 150%;
    height: 100%;
    z-index: -1;
}

header #ouvertureExceptionnelle:before {
    background-color: black;
}

header #menu:before {
    top: -65%;
    height: 200%;
    background-color: white;
}

/* hashtag */

/*

#hashtag {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

#hashtag p {
    writing-mode: sideways-lr;
    margin: 0;
    font-size: 0.4em;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-family: 'Roboto Mono', monospace;
    -webkit-text-stroke: 0.003em black;
    letter-spacing: -0.09em;
    margin-bottom: 1em;
}

#hashtag img {
    width: 9%;
    margin: 0.1em 0em;
}

*/



/* body */

/* afterHeader */

#afterHeader {
    font-size: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Pour fond étendu sur les côtés de afterHeader */

#afterHeader::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -25%;
    width: 150%;
    height: 105%;
    z-index: -2;
    background-color: red;
}


#imgGirls {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 1em;
    gap: 0.8em;
    margin-left: -2em;
}

#imgGirls img {
    width: auto;
    height: 13em;
    margin: 0;
    object-fit: contain;
}

#menuRessources {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 0.2em;
    font-weight: bold;
    margin-top: 2.5em;
    color: white;
}

#menuRessources div {
    border: solid white 2px;
    border-radius: 10%;
    width: auto;
    height: 7em;
    font-size: 7px;
    padding-top: 1.5em;
    text-align: center;
    transition: all 0.3s ease;
    align-self: center;
}

#menuRessources div:hover {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -5px;
    color: black;
}

#menuRessources img {
    width: 45%;
    height: auto;
    object-fit: contain;
}

#actus {
    margin-top: 3em;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

#actusSecondRow {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

#actusSecondRow #actusLink {
    padding: 1em;
    font-size: 0.8em;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.5em;
    color: red;
    transition: padding 0.3s ease;
    text-align: center;
}

#actusSecondRow #actusLink:hover {
    padding: 0.7em;
}

#actus #actusStrokes {
    -webkit-text-stroke: 0.035em white;
    font-weight: bolder;
    color: red;
}

/* Slider */

#sliderNavigator {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

#prev,
#next {
    cursor: pointer;
    text-decoration: none;
    text-align: right;
    color: white;
    vertical-align: middle;
    font-size: 2em;
}

#sliderIndicatorContainer {
    position: relative;
    height: 0.15em;
    width: 9em;
    background-color: gray;
    border-radius: 0.5em;
    align-self: center;
}

#sliderIndicator {
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 0.5em;
    transition: width 0.5s ease;
    position: absolute;
    left: 0;
    top: 0;
}

#sliderrow {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
}

#sliderrow>div[data-slide] {
    scroll-snap-align: start;
    height: 10em;
    width: 7em;
    padding: 0.7em;
    border-radius: 1em;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sliderrow h1,
#sliderrow p {
    font-size: 0.7em;
    color: white;
}

#sliderrow .sliderDate,
#sliderrow .sliderHashtag {
    font-size: 0.5em;
}

#sliderrow .sliderHashtag {
    display: flex;
    flex-direction: row;
}

#sliderrow {
    gap: 5px;
}

#sliderrow>div[data-slide="1"],
#sliderrow>div[data-slide="4"] {
    background-image: url("ressources/shutterstock_1836563524.png");
}

#sliderrow>div[data-slide="2"],
#sliderrow>div[data-slide="5"] {
    background-image: url("ressources/shutterstock_1211521729.png");
}

#sliderrow>div[data-slide="3"] {
    background-image: url("ressources/10d1c64954f487ea77729fea232d8767.png");
    color: black;
    background-color: #e9e2d7;
}

#sliderrow>div[data-slide="3"] h1,
#sliderrow>div[data-slide="3"] p {
    color: black;
}


/* div "Une envie de shopping" */

#shopping {
    color: white;
    margin: 1em 1em 5em 0.5em;
    position: relative;
}

#shopping::before {
    position: absolute;
    top: 0;
    left: -25%;
    width: 165%;
    height: 100%;
    z-index: -1;
    background-image: url("ressources/mall.jpg");
    background-size: contain;
    background-position: cover;
    background-repeat: no-repeat;
}


#topShopping {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 1em;
}

#topShopping p {
    font-weight: bold;
    font-size: 20px;
}

#topShopping span {
    -webkit-text-stroke-width: 0.035rem;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
}

#shopping a {
    text-decoration: none;
    text-align: center;
    color: red;
    background-color: white;
    border-radius: 0.6em;
    padding: 0.6em 1.2em;
    font-size: 7px;
    font-weight: bold;
    height: fit-content;
    margin-top: 6em;
}

#menuShopping {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    width: 100%;
    gap: 0.2em;
    font-weight: bold;
}

#menuShopping div {
    border: solid white 2px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    width: 7em;
    height: auto;
    font-size: 7px;
    padding-top: 1.5em;
    text-align: center;
    transition: all 0.3s ease;
}

#menuShopping div:hover {
    background-color: red;
    margin-top: -5px;
}

#menuShopping img {
    width: 45%;
    height: auto;
    object-fit: contain;
}

#textShopping {
    text-align: center;
    font-size: 10px;
}

#boldShopping {
    font-weight: bold;
}

/* beforeFooter */

#beforeFooter {
    position: relative;
    margin: 0;
    margin-top: 25%;
}

#beforeFooter::before {
    content: '';
    position: absolute;
    left: -25%;
    top: 40%;
    height: 100%;
    z-index: -2;
    background-color: red;
    width: 150%;
}

#beforeFooterNewsLetter {
    font-size: 10px;
    text-align: center;
    padding: 2em;
    padding-top: 1em;
    width: 70%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;
    position: relative;
    background-color: #F4E500;
    border-radius: 1em;
}

#beforeFooterNewsLetterHashtag {
    -webkit-text-stroke-width: 0.07rem;
    -webkit-text-stroke-color: black;
    text-align: left;
    position: absolute;
    top: -1.5em;
    left: 0.4em;
    font-size: 1.5em;
    font-style: italic;
    color: white;
    font-weight: 900;
}

#beforeFooterNewsLetter input {
    font-size: 10px;
    border-radius: 1.5em;
    border: 0.2em solid black;
    padding: 0.7em 1em;
    font-size: 0.8em;
}

#logosBoutiques {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 0.3em;
    margin-left: -5%;
}

#logosBoutiques img {
    width: 12%;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease;
}

#logosBoutiques img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* footer */


footer {
    position: relative;
    z-index: 1;
    font-size: 10px;
    margin-top: 2em;
    margin-left: 0.1em;
}

#footerContent,
#footerEnd {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
}

#footerContent {
    gap: 10%;
}

#footerLeft {
    margin-top: 20px;
    margin-right: -100px;
}

footer .logo {
    width: 40%;
    height: auto;
}

footer h1 {
    font-size: 0.9em;
}

footer a,
footer p {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
}

footer img {
    width: 10%;
    height: auto;
    object-fit: contain;
}

footer #telephoneContact,
footer #mailContact {
    border-radius: 1em;
    border: 0.1em solid black;
    padding: 0.7em 0.5em;
    width: 50%;
    text-align: center;
}

footer #telephoneContact {
    border-color: gray;
    width: fit-content;
}

footer #telephoneContact img {
    width: 8%;
    padding-right: 0.4em;
}

footer #mailContact {
    width: fit-content;
}

footer #mailContact img {
    width: 15%;
    padding-right: 0.4em;
}

footer .footerHashtag {
    font-size: 1.3em;
    font-style: italic;
    color: black;
    font-weight: bold;
}

footer .footerHashtag #partage {
    color: red;
}

footer input {
    border-radius: 1.5em;
    border: 0.2em solid black;
    padding: 0.7em 1em;
    font-size: 0.8em;
}

footer #footerEnd {
    gap: 3em
}

/* Pour fond étendu sur les côtés du footer */

footer:before {
    content: '';
    position: absolute;
    left: -5%;
    width: 130%;
    height: 120%;
    z-index: -1;
    background-color: white;
}


/* Sur écran autre que mobile
*
*
*/

@media(min-width: 600px) {

    header div {
        font-size: 32px;
        margin-bottom: -2em;
    }

    header #menu {
        font-size: 1em;
        gap: 5em;
    }

    header a {
        width: max-content;
        margin-left: 1em;
        margin-bottom: 0;
        padding: 2em 0.5em;
    }

    header .logo {
        width: 10%;
        margin-left: 2em;
        margin-right: 4%;
    }

    header #horaire {
        padding: 0.8em 1.5em;
        margin-bottom: 3.5em;
        margin-left: 7em;
        border-radius: 0.6em;
    }

    header #loupe {
        width: 2em;
        margin-left: -4em;
        margin-top: 1.3em;
    }

    header #ouvertureExceptionnelle {
        font-size: 1em;
        margin-bottom: auto;
    }

    header #menu:before {
        top: -85%;
        height: 185%;
    }

    #afterHeader {
        font-size: 32px;
    }

    #menuRessources {
        gap: 3em;
        margin-left: 3em;
        margin-bottom: 3em;
        margin-top: 6em;
    }

    #menuRessources img {
        width: 45%;
        height: auto;
        object-fit: contain;
    }

    #actus {
        margin-left: 4em;
    }

    #actus #actusStrokes {
        -webkit-text-stroke: 0.04em white;
    }

    #actusSecondRow #actusLink {
        font-size: 0.7em;
        margin-left: 13em;
        padding: 0.5em 1.5em;
        margin-bottom: 2.3em;
        ;
    }

    #sliderIndicatorContainer {
        width: 15em;
    }

    #actusSecondRow {
        margin-left: 5em;
    }

    #shopping {
        margin-top: 6em;
        margin-bottom: 10em;
        margin-left: 5em;
    }

    #topShopping {
        gap: 20em;
    }

    #topShopping p {
        font-size: 50px;
    }

    #shopping a {
        padding: 0.6em 2.2em;
        font-size: 15px;
        margin-top: 8em;
    }

    #menuShopping {
        gap: 3em;
        margin-left: 4em;
        margin-bottom: 3em;
    }

    #menuShopping div {
        width: 15em;
        height: auto;
        font-size: 10px;
        padding-top: 2em;
    }

    #menuShopping img {
        width: 35%;
        height: auto;
    }

    #textShopping {
        font-size: 19px;
    }

    #beforeFooterNewsLetter {
        width: 50%;
    }

    #logosBoutiques {
        gap: 1em;
        margin-bottom: 5em;
    }

    footer,
    #beforeFooterNewsLetter {
        font-size: 30px;
    }

    #footerContent,
    #footerEnd {
        margin-left: 3em;
    }

    #footerLeft {
        margin-right: -160px;
    }

    footer .logo {
        width: 30%;
    }

    footer h1,
    #beforeFooterNewsLetter h1 {
        font-size: 0.7em;
    }

    footer a,
    footer p,
    #beforeFooterNewsLetter p {
        font-size: 0.5em;
    }

    #menuRessources div {
        width: 7em;
        height: 7em;
        font-size: 0.7em;
        text-align: center;
        align-self: center;
        padding: 1em;
    }

    #beforeFooterNewsLetterHashtag {
        top: -1.5em;
        left: 0.4em;
        font-size: 1.2em !important;
        -webkit-text-stroke-width: 0.065em;
        letter-spacing: -0.05em;
    }

    footer img {
        width: 8%;
        height: auto;
        object-fit: contain;
    }

    footer #telephoneContact,
    footer #mailContact {
        border-radius: 1em;
        border-width: 0.1em;
        padding: 0.7em 0.5em;
        width: 20%;
        text-align: left;
    }

    footer #telephoneContact {
        width: fit-content;
        padding: 0.7em 0.5em;
        padding-left: 1em;
    }

    footer #mailContact {
        width: fit-content;
        padding: 0.7em 0.5em;
        padding-left: 1em;
    }

    footer #telephoneContact img {
        width: 8%;
    }

    footer #mailContact img {
        width: 15%;
        padding-right: 0.4em;
    }

    footer .footerHashtag {
        font-size: 1.2em;
    }

    #beforeFooterNewsLetter h1 {
        font-size: 1em;
        font-weight: 900;
    }

    footer input,
    #beforeFooterNewsLetter input {
        padding: 1em 1.5em;
        font-size: 0.4em;
    }

    #beforeFooter {
        padding-bottom: 2em;
        margin-top: 0em;
    }

    #beforeFooter:before {
        top: 20%;
    }

    footer #footerEnd {
        margin-top: 2em;
        gap: 15em;
    }

    footer:before {
        bottom: -5%;
        height: 120%;
        content: '';
        position: absolute;
    }
}